<div id="<%= dom_id initial_vote %>">
  <p>
    <strong>User:</strong>
    <%= initial_vote.user_id %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= initial_vote.choice_id %>
  </p>

  <p>
    <strong>Bracket:</strong>
    <%= initial_vote.bracket_id %>
  </p>

</div>
