<h1>Editing initial vote</h1>

<%= render "form", initial_vote: @initial_vote %>

<br>

<div>
  <%= link_to "Show this initial vote", @initial_vote %> |
  <%= link_to "Back to initial votes", initial_votes_path %>
</div>
