<div id="<%= dom_id vote %>">
  <p>
    <strong>Matchup:</strong>
    <%= vote.matchup_id %>
  </p>
  <p>
    <strong>Choice:</strong>
    <%= vote.choice_id %>
  </p>
  <p>
    <strong>Submitted by:</strong>
    <%= vote.user.name %>
  </p>

</div>
